<a href="https://colab.research.google.com/github/anamanuellar/Data_Science/blob/main/6%C2%AA_aula_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Respondendo as questões do CEO

Nosso CEO deseja saber algumas informações sobre o faturamento de vinhos. A equipe de vendas nos forneceu um dataset com alguns dados e precisamos extrair algumas informações para respondermos as questões

## Carregando o dataset

In [ ]:
import pandas as pd

In [ ]:
dataset = r'wines.csv'
df = pd.read_csv(dataset)

## Analise Exploratória - Explorando os Dados

1. Descubra o contexto dos dados

In [ ]:
df.sample(5)

            date   label  vintage   style   country   price  quantity  rate
122   2021-07-03  Wine Y     1992  Orange   Germany  307.03        13    93
3980  2021-01-08  Wine M     1996   White    Brazil  358.67         6    76
3291  2021-10-16  Wine V     1994   Sweet    France  150.91        15    97
7444  2021-07-01  Wine T     1997    Rose     Chile  357.30         4    78
7847  2021-04-08  Wine S     2020    Rose  Portugal   90.08         7    97

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      10000 non-null  object
 1   label     10000 non-null  object
 2   vintage   10000 non-null  int64
 3   style     10000 non-null  object
 4   country   10000 non-null  object
 5   price     10000 non-null  float64
 6   quantity  10000 non-null  int64
 7   rate      10000 non-null  int64
dtypes: float64(1), int64(3), object(4)
memory usage: 625.1+ KB

Converter coluna "date" para o tipo "DateTime"

In [ ]:
# Date Time
df['date'] = pd.to_datetime(df['date'], yearfirst=True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      10000 non-null  datetime64[ns]
 1   label     10000 non-null  object
 2   vintage   10000 non-null  int64
 3   style     10000 non-null  object
 4   country   10000 non-null  object
 5   price     10000 non-null  float64
 6   quantity  10000 non-null  int64
 7   rate      10000 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(3), object(3)
memory usage: 625.1+ KB

In [ ]:
def saudacao(nome):
    return f'Olá {nome}!'

saudacao_davi = saudacao('Davi')
saudacao_davi

'Olá Davi!'

In [ ]:
df['date'].head(10)

0    2021-01-04
1    2021-03-11
2    2021-10-02
3    2021-06-05
4    2021-09-06
5    2021-07-10
6    2021-11-01
7    2021-08-22
8    2021-03-06
9    2021-04-25
Name: date, dtype: object

In [ ]:
df['date'].tail(10)

9990    2021-11-16
9991    2021-06-16
9992    2021-06-02
9993    2021-05-21
9994    2021-06-27
9995    2021-08-07
9996    2021-03-03
9997    2021-12-28
9998    2021-06-19
9999    2021-09-18
Name: date, dtype: object

In [ ]:
df.columns

Index(['date', 'label', 'vintage', 'style', 'country', 'price', 'quantity',
       'rate'],
      dtype='object')

In [ ]:
df.describe()

            vintage         price      quantity          rate
count  10000.000000  10000.000000  10000.000000  10000.000000
mean    2001.404200    213.907129      8.015500     87.484200
std       11.550375    134.010508      4.280244      7.475717
min     1982.000000     50.010000      1.000000     75.000000
25%     1991.000000    105.617500      4.000000     81.000000
50%     2001.000000    178.240000      8.000000     88.000000
75%     2011.000000    294.087500     12.000000     94.000000
max     2021.000000   1107.890000     15.000000    100.000000

## Perguntas do CEO

### 1. Quanto custa o vinho mais caro?

In [ ]:
maior_preco = df['price'].max()
maior_preco

1107.89

### 2. Quanto custa o vinho mais barato?

In [ ]:
menor_preco = df['price'].min()
menor_preco

50.01

### 3. Qual o vinho mais caro?

In [ ]:
df.loc[df['price'] == maior_preco]

           date   label  vintage      style country    price  quantity  rate
1249 2021-09-29  Wine Q     2002  Sparkling   Italy  1107.89        13    92

### 4. Qual o vinho mais barato?

In [ ]:
df.loc[df['price'] == menor_preco]

           date   label  vintage   style country  price  quantity  rate
4910 2021-08-15  Wine Z     2009  Orange  Brazil  50.01         5    90
9256 2021-11-01  Wine W     1995   Sweet  Brazil  50.01        12    94

### 5. Quanto foi vendido em 2021?

In [ ]:
df.head(5)

        date   label  vintage   style   country   price  quantity  rate
0 2021-01-04  Wine K     2002   White  Portugal  144.22         9    97
1 2021-03-11  Wine J     1982     Red  Portugal  244.80         3    76
2 2021-10-02  Wine Y     2018  Orange    France   98.83         2    79
3 2021-06-05  Wine I     1989     Red     Spain   59.64        11    77
4 2021-09-06  Wine N     2006   White     Spain  187.70         6    91

In [ ]:
df['subtotal'] = df['price'] * df['quantity']
df.head(10)

,date,label,vintage,style,country,price,quantity,rate,subtotal
0,2021-01-04,Wine K,2002,White,Portugal,144.22,9,97,1297.98
1,2021-03-11,Wine J,1982,Red,Portugal,244.80,3,76,734.40
2,2021-10-02,Wine Y,2018,Orange,France,98.83,2,79,197.66
3,2021-06-05,Wine I,1989,Red,Spain,59.64,11,77,656.04
4,2021-09-06,Wine N,2006,White,Spain,187.70,6,91,1126.20
5,2021-07-10,Wine O,2020,White,Chile,196.02,13,79,2548.26
6,2021-11-01,Wine A,2003,Red,USA,464.32,9,99,4178.88
7,2021-08-22,Wine Y,1994,Orange,Portugal,135.36,11,83,1488.96
8,2021-03-06,Wine R,2007,Sparkling,Argentina,178.77,14,96,2502.78
9,2021-04-25,Wine Y,1988,Orange,Italy,70.33,9,95,632.97

In [ ]:
wines_df = df[['date', 'label', 'vintage', 'style', 'country',
    'price', 'quantity', 'subtotal', 'rate']]

In [ ]:
wines_df.head()

,date,label,vintage,style,country,price,quantity,subtotal,rate
0,2021-01-04,Wine K,2002,White,Portugal,144.22,9,1297.98,97
1,2021-03-11,Wine J,1982,Red,Portugal,244.80,3,734.40,76
2,2021-10-02,Wine Y,2018,Orange,France,98.83,2,197.66,79
3,2021-06-05,Wine I,1989,Red,Spain,59.64,11,656.04,77
4,2021-09-06,Wine N,2006,White,Spain,187.70,6,1126.20,91

In [ ]:
wines_df.loc[wines_df['date'].dt.year == 2021]

,date,label,vintage,style,country,price,quantity,subtotal,rate
0,2021-01-04,Wine K,2002,White,Portugal,144.22,9,1297.98,97
1,2021-03-11,Wine J,1982,Red,Portugal,244.80,3,734.40,76
2,2021-10-02,Wine Y,2018,Orange,France,98.83,2,197.66,79
3,2021-06-05,Wine I,1989,Red,Spain,59.64,11,656.04,77
4,2021-09-06,Wine N,2006,White,Spain,187.70,6,1126.20,91
...,...,...,...,...,...,...,...,...,...
9995,2021-08-07,Wine S,1983,Rose,France,264.69,6,1588.14,89
9996,2021-03-03,Wine S,1994,Rose,Spain,55.84,4,223.36,100
9997,2021-12-28,Wine N,2001,White,Portugal,137.79,13,1791.27,96
9998,2021-06-19,Wine T,1988,Rose,Italy,100.29,9,902.61,83
9999,2021-09-18,Wine V,1982,Sweet,Portugal,63.85,13,830.05,100

In [ ]:
f'O faturamento R${faturamento_2021:,.2f}'.translate(str(faturamento_2021).maketrans({',': '.', '.':','}))

'O faturamento R$16.991.676,32'

In [ ]:
faturamento_2021 = wines_df['subtotal'].sum()
print(f'O faturamento R${faturamento_2021:,.2f}')

O faturamento R$16,991,676.32

### 6. Quantas garrafas no total?

### 7. Qual vinho teve a maior nota?

### 8. Qual vinho teve a menor nota?

### 9. Qual a safra mais antiga?

### 10. Qual a safra mais recente?

### 11. Qual país teve mais garrafa vendida?

### 12. Qual país teve menos menos garrafa vendida?

### 13. Quantos vinhos abaixo de R$100,00 foram vendidos?

### 14. Quantos vinhos acima de R$100,00 foram vendidos?

### 15. Quantas garrafas de espumantes foram vendidadas no mês de Dezembro?

### 16. Quantos vinhos brancos e rosés foram vendidos nos meses de Janeiro à Março?

### 17. Qual foi o faturamento do 1º trimestre de 2021?

### 18. Quantas garrafas de tinto foram vendidas no inverno de 2021?

__VALE LEMBRAR__ : Inverno de 21 de junho à 20 setembro

### 19. Quais os 3 meses de maior faturamento?

### 20. Qual o ticket médio por mês?