<a href="https://colab.research.google.com/github/anamanuellar/Data_Science/blob/main/Aula04DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame( {
        'Linguagem': ['Python', 'R', 'SQL', 'C', 'Java', 'JavaScript'],
        'Popularidade': ['Alta', 'Baixa', 'Altíssima', 'Média', 'Altíssima', 'Altíssima'], 
        'Versão': [3.10, 4.2, None, None, 11, 16],
        'Desenvolvedores' : [7_000_000, 500_000, 20_000_000, 3_500_000, 16_000_000, 25_000_000],
        'Data de Lançamento' : ['1991-02-20', '1993-08-03', '1986-01-01', '1972-01-01', '1995-12-04', '1992-01-01']
    }
)
df

    Linguagem Popularidade  Versão  Desenvolvedores Data de Lançamento
0      Python         Alta     3.1          7000000         1991-02-20
1           R        Baixa     4.2           500000         1993-08-03
2         SQL    Altíssima     NaN         20000000         1986-01-01
3           C        Média     NaN          3500000         1972-01-01
4        Java    Altíssima    11.0         16000000         1995-12-04
5  JavaScript    Altíssima    16.0         25000000         1992-01-01

In [ ]:
df.rename(str.upper, axis= 'columns', inplace=True)
df

    LINGUAGEM POPULARIDADE  VERSÃO  DESENVOLVEDORES DATA DE LANÇAMENTO
0      Python         Alta     3.1          7000000         1991-02-20
1           R        Baixa     4.2           500000         1993-08-03
2         SQL    Altíssima     NaN         20000000         1986-01-01
3           C        Média     NaN          3500000         1972-01-01
4        Java    Altíssima    11.0         16000000         1995-12-04
5  JavaScript    Altíssima    16.0         25000000         1992-01-01

In [13]:
data = pd.date_range('1/1/2011', periods=10, freq='H')
data

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00', '2011-01-01 05:00:00',
               '2011-01-01 06:00:00', '2011-01-01 07:00:00',
               '2011-01-01 08:00:00', '2011-01-01 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [16]:
x = pd.Timestamp.now()
print(x)

2023-01-08 14:54:40.029808