<a href="https://colab.research.google.com/github/anamanuellar/Data_Science/blob/main/Aula04_Carros.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [130]:
import pandas as pd

df = pd.read_csv("OldCars.csv")

In [131]:
df.head()

,MPG,Cilindros,Max,Acel,HP,Peso,Ano,Origem,Modelo,Marca
0,18.0,8,307.0,12.0,130,3504,70,North America,chevrolet chevelle malibu,chevrolet
1,15.0,8,350.0,11.5,165,3693,70,North America,buick skylark 320,buick
2,18.0,8,318.0,11.0,150,3436,70,North America,plymouth satellite,plymouth
3,16.0,8,304.0,12.0,150,3433,70,North America,amc rebel sst,amc
4,17.0,8,302.0,10.5,140,3449,70,North America,ford torino,ford

In [132]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MPG        392 non-null    float64
 1   Cilindros  392 non-null    int64
 2   Max        392 non-null    float64
 3   Acel       392 non-null    float64
 4   HP         392 non-null    int64
 5   Peso       392 non-null    int64
 6   Ano        392 non-null    int64
 7   Origem     392 non-null    object
 8   Modelo     392 non-null    object
 9   Marca      392 non-null    object
dtypes: float64(3), int64(4), object(3)
memory usage: 30.8+ KB

In [135]:
df.columns

Index(['MPG', 'Cilindros', 'Max', 'Acel', 'HP', 'Peso', 'Ano', 'Origem',
       'Modelo', 'Marca'],
      dtype='object')

In [136]:
df['MPG'] = pd.to_numeric(df['MPG'], downcast='float')

In [137]:
df['Max'] = pd.to_numeric(df['Max'], downcast='float')

In [138]:
df['Cilindros'] = df['Cilindros'].astype('int16') #Converter em int16

In [139]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 392 entries, 0 to 391
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   MPG        392 non-null    float32
 1   Cilindros  392 non-null    int16
 2   Max        392 non-null    float32
 3   Acel       392 non-null    float64
 4   HP         392 non-null    int64
 5   Peso       392 non-null    int64
 6   Ano        392 non-null    int64
 7   Origem     392 non-null    object
 8   Modelo     392 non-null    object
 9   Marca      392 non-null    object
dtypes: float32(2), float64(1), int16(1), int64(3), object(3)
memory usage: 25.4+ KB

In [140]:
df['KmL'] = df['MPG']*0.42

In [141]:
df.head(10)

,MPG,Cilindros,Max,Acel,HP,Peso,Ano,Origem,Modelo,Marca,KmL
0,18.0,8,307.0,12.0,130,3504,70,North America,chevrolet chevelle malibu,chevrolet,7.56
1,15.0,8,350.0,11.5,165,3693,70,North America,buick skylark 320,buick,6.30
2,18.0,8,318.0,11.0,150,3436,70,North America,plymouth satellite,plymouth,7.56
3,16.0,8,304.0,12.0,150,3433,70,North America,amc rebel sst,amc,6.72
4,17.0,8,302.0,10.5,140,3449,70,North America,ford torino,ford,7.14
5,15.0,8,429.0,10.0,198,4341,70,North America,ford galaxie 500,ford,6.30
6,14.0,8,454.0,9.0,220,4354,70,North America,chevrolet impala,chevrolet,5.88
7,14.0,8,440.0,8.5,215,4312,70,North America,plymouth fury iii,plymouth,5.88
8,14.0,8,455.0,10.0,225,4425,70,North America,pontiac catalina,pontiac,5.88
9,15.0,8,390.0,8.5,190,3850,70,North America,amc ambassador dpl,amc,6.30

In [142]:
df[['Peso', 'Ano']].describe()

              Peso         Ano
count   392.000000  392.000000
mean   2977.584184   75.979592
std     849.402560    3.683737
min    1613.000000   70.000000
25%    2225.250000   73.000000
50%    2803.500000   76.000000
75%    3614.750000   79.000000
max    5140.000000   82.000000

In [143]:
#Shape retorna uma tupla com a quantidade de linhas e colunas
df.shape

(392, 11)

In [144]:
df.shape[1] #Colocando o índice, ele vai mostrar apenas a informação solicitada. 0 = linha, 1 = coluna

11

In [145]:
print(f'Nosso dataset tem o total de {df.shape[0]} linhas') #Podemos usar o printpara deixar o código mais claro

Nosso dataset tem o total de 392 linhas

In [146]:
df['Marca'].unique() #Descobrir os valores únicos de uma coluna

array(['chevrolet', 'buick', 'plymouth', 'amc', 'ford', 'pontiac',
       'dodge', 'toyota', 'datsun', 'volkswagen', 'peugeot', 'audi',
       'saab', 'bmw', 'hi', 'mercury', 'opel', 'fiat', 'oldsmobile',
       'chrysler', 'mazda', 'volvo', 'renault', 'honda', 'subaru',
       'capri', 'mercedes', 'cadillac', 'triumph', 'nissan'], dtype=object)

In [147]:
df['Ano'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82])

In [148]:
df.columns

Index(['MPG', 'Cilindros', 'Max', 'Acel', 'HP', 'Peso', 'Ano', 'Origem',
       'Modelo', 'Marca', 'KmL'],
      dtype='object')

In [149]:
old_name1 = list(df.columns)
new_name = list(map( lambda coluna : coluna+'_'+str(old_name1.index(coluna)+1)+'_', old_name1))
df.columns=new_name

In [150]:
df.head(5)

,MPG_1_,Cilindros_2_,Max_3_,Acel_4_,HP_5_,Peso_6_,Ano_7_,Origem_8_,Modelo_9_,Marca_10_,KmL_11_
0,18.0,8,307.0,12.0,130,3504,70,North America,chevrolet chevelle malibu,chevrolet,7.56
1,15.0,8,350.0,11.5,165,3693,70,North America,buick skylark 320,buick,6.30
2,18.0,8,318.0,11.0,150,3436,70,North America,plymouth satellite,plymouth,7.56
3,16.0,8,304.0,12.0,150,3433,70,North America,amc rebel sst,amc,6.72
4,17.0,8,302.0,10.5,140,3449,70,North America,ford torino,ford,7.14

In [ ]:
dfEstatitisco = df.describe(include='all')
dfEstatitisco

In [151]:
df.count() #Quantos veículos foram cadastrados

MPG_1_          392
Cilindros_2_    392
Max_3_          392
Acel_4_         392
HP_5_           392
Peso_6_         392
Ano_7_          392
Origem_8_       392
Modelo_9_       392
Marca_10_       392
KmL_11_         392
dtype: int64

In [152]:
df.KmL_11_.mean() #A média de Autonomia dos veículos em KM/L

9.847285

In [88]:
df.HP_5.max() #A maior potência em HP

230

In [153]:
df.HP_5_.min() #A menor potência em HP

46

In [154]:
df.Peso_6_.max() #Maior peso

5140

In [155]:
df.Marca_10_.mode()

0    ford
dtype: object

In [159]:
df.Marca_10_.value_counts()

ford          48
chevrolet     47
plymouth      31
dodge         28
amc           27
toyota        26
datsun        23
volkswagen    22
buick         17
pontiac       16
honda         13
mazda         12
mercury       11
oldsmobile    10
fiat           8
peugeot        8
audi           7
volvo          6
chrysler       6
saab           4
opel           4
subaru         4
mercedes       3
renault        3
cadillac       2
bmw            2
capri          1
hi             1
triumph        1
nissan         1
Name: Marca_10_, dtype: int64

In [200]:
todosmodelos = list(df['Modelo_9_'].unique()) #todos os Modelos de carros cadastrados em ordem alfabética
todosmodelos.sort()
todosmodelos

['amc ambassador brougham',
 'amc ambassador dpl',
 'amc ambassador sst',
 'amc concord',
 'amc concord d/l',
 'amc concord dl 6',
 'amc gremlin',
 'amc hornet',
 'amc hornet sportabout (sw)',
 'amc matador',
 'amc matador (sw)',
 'amc pacer',
 'amc pacer d/l',
 'amc rebel sst',
 'amc spirit dl',
 'audi 100 ls',
 'audi 100ls',
 'audi 4000',
 'audi 5000',
 'audi 5000s (diesel)',
 'audi fox',
 'bmw 2002',
 'bmw 320i',
 'buick century',
 'buick century 350',
 'buick century limited',
 'buick century luxus (sw)',
 'buick century special',
 'buick electra 225 custom',
 'buick estate wagon (sw)',
 'buick lesabre custom',
 'buick opel isuzu deluxe',
 'buick regal sport coupe (turbo)',
 'buick skyhawk',
 'buick skylark',
 'buick skylark 320',
 'buick skylark limited',
 'cadillac eldorado',
 'cadillac seville',
 'capri ii',
 'chevroelt chevelle malibu',
 'chevrolet bel air',
 'chevrolet camaro',
 'chevrolet caprice classic',
 'chevrolet cavalier',
 'chevrolet cavalier 2-door',
 'chevrolet cavalier wagon',
 'chevrolet chevelle concours (sw)',
 'chevrolet chevelle malibu',
 'chevrolet chevelle malibu classic',
 'chevrolet chevette',
 'chevrolet citation',
 'chevrolet concours',
 'chevrolet impala',
 'chevrolet malibu',
 'chevrolet malibu classic (sw)',
 'chevrolet monte carlo',
 'chevrolet monte carlo landau',
 'chevrolet monte carlo s',
 'chevrolet monza 2+2',
 'chevrolet nova',
 'chevrolet nova custom',
 'chevrolet vega',
 'chevrolet vega (sw)',
 'chevrolet vega 2300',
 'chevrolet woody',
 'chevy c10',
 'chevy c20',
 'chevy s-10',
 'chrysler cordoba',
 'chrysler lebaron medallion',
 'chrysler lebaron salon',
 'chrysler lebaron town @ country (sw)',
 'chrysler new yorker brougham',
 'chrysler newport royal',
 'datsun 1200',
 'datsun 200-sx',
 'datsun 200sx',
 'datsun 210',
 'datsun 210 mpg',
 'datsun 280-zx',
 'datsun 310',
 'datsun 310 gx',
 'datsun 510',
 'datsun 510 (sw)',
 'datsun 510 hatchback',
 'datsun 610',
 'datsun 710',
 'datsun 810',
 'datsun 810 maxima',
 'datsun b-210',
 'datsun b210',
 'datsun b210 gx',
 'datsun f-10 hatchback',
 'datsun pl510',
 'dodge aries se',
 'dodge aries wagon (sw)',
 'dodge aspen',
 'dodge aspen 6',
 'dodge aspen se',
 'dodge challenger se',
 'dodge charger 2.2',
 'dodge colt',
 'dodge colt (sw)',
 'dodge colt hardtop',
 'dodge colt hatchback custom',
 'dodge colt m/m',
 'dodge coronet brougham',
 'dodge coronet custom',
 'dodge coronet custom (sw)',
 'dodge d100',
 'dodge d200',
 'dodge dart custom',
 'dodge diplomat',
 'dodge magnum xe',
 'dodge monaco (sw)',
 'dodge monaco brougham',
 'dodge omni',
 'dodge rampage',
 'dodge st. regis',
 'fiat 124 sport coupe',
 'fiat 124 tc',
 'fiat 124b',
 'fiat 128',
 'fiat 131',
 'fiat strada custom',
 'fiat x1.9',
 'ford country',
 'ford country squire (sw)',
 'ford escort 2h',
 'ford escort 4w',
 'ford f108',
 'ford f250',
 'ford fairmont',
 'ford fairmont (auto)',
 'ford fairmont (man)',
 'ford fairmont 4',
 'ford fairmont futura',
 'ford fiesta',
 'ford futura',
 'ford galaxie 500',
 'ford gran torino',
 'ford gran torino (sw)',
 'ford granada',
 'ford granada ghia',
 'ford granada gl',
 'ford granada l',
 'ford ltd',
 'ford ltd landau',
 'ford maverick',
 'ford mustang',
 'ford mustang gl',
 'ford mustang ii',
 'ford mustang ii 2+2',
 'ford pinto',
 'ford pinto (sw)',
 'ford pinto runabout',
 'ford ranger',
 'ford thunderbird',
 'ford torino',
 'ford torino 500',
 'hi 1200d',
 'honda accord',
 'honda accord cvcc',
 'honda accord lx',
 'honda civic',
 'honda civic (auto)',
 'honda civic 1300',
 'honda civic 1500 gl',
 'honda civic cvcc',
 'honda prelude',
 'maxda glc deluxe',
 'maxda rx3',
 'mazda 626',
 'mazda glc',
 'mazda glc 4',
 'mazda glc custom',
 'mazda glc custom l',
 'mazda glc deluxe',
 'mazda rx-4',
 'mazda rx-7 gs',
 'mazda rx2 coupe',
 'mercedes benz 300d',
 'mercedes-benz 240d',
 'mercedes-benz 280s',
 'mercury capri 2000',
 'mercury capri v6',
 'mercury cougar brougham',
 'mercury grand marquis',
 'mercury lynx l',
 'mercury marquis',
 'mercury marquis brougham',
 'mercury monarch',
 'mercury monarch ghia',
 'mercury zephyr',
 'mercury zephyr 6',
 'nissan stanza xe',
 'oldsmobile cutlass ciera (diesel)',
 'oldsmobile cutlass ls',
 'oldsmobile cutlass salon brougham',
 'oldsmobile cutlass supreme',
 'oldsmobile delta 88 royale',
 'oldsmobile omega',
 'oldsmobile omega brougham',
 'oldsmobile starfire sx',
 'oldsmobile vista cruiser',
 'opel 1900',
 'opel manta',
 'peugeot 304',
 'peugeot 504',
 'peugeot 504 (sw)',
 'peugeot 505s turbo diesel',
 'peugeot 604sl',
 "plymouth 'cuda 340",
 'plymouth arrow gs',
 'plymouth champ',
 'plymouth cricket',
 'plymouth custom suburb',
 'plymouth duster',
 'plymouth fury',
 'plymouth fury gran sedan',
 'plymouth fury iii',
 'plymouth grand fury',
 'plymouth horizon',
 'plymouth horizon 4',
 'plymouth horizon miser',
 'plymouth horizon tc3',
 'plymouth reliant',
 'plymouth sapporo',
 'plymouth satellite',
 'plymouth satellite custom',
 'plymouth satellite custom (sw)',
 'plymouth satellite sebring',
 'plymouth valiant',
 'plymouth valiant custom',
 'plymouth volare',
 'plymouth volare custom',
 'plymouth volare premier v8',
 'pontiac astro',
 'pontiac catalina',
 'pontiac catalina brougham',
 'pontiac firebird',
 'pontiac grand prix',
 'pontiac grand prix lj',
 'pontiac j2000 se hatchback',
 'pontiac lemans v6',
 'pontiac phoenix',
 'pontiac phoenix lj',
 'pontiac safari (sw)',
 'pontiac sunbird coupe',
 'pontiac ventura sj',
 'renault 12 (sw)',
 'renault 12tl',
 'renault 5 gtl',
 'saab 99e',
 'saab 99gle',
 'saab 99le',
 'subaru',
 'subaru dl',
 'toyota carina',
 'toyota celica gt',
 'toyota celica gt liftback',
 'toyota corolla',
 'toyota corolla 1200',
 'toyota corolla 1600 (sw)',
 'toyota corolla liftback',
 'toyota corolla tercel',
 'toyota corona',
 'toyota corona hardtop',
 'toyota corona liftback',
 'toyota corona mark ii',
 'toyota cressida',
 'toyota mark ii',
 'toyota starlet',
 'toyota tercel',
 'toyouta corona mark ii (sw)',
 'triumph tr7 coupe',
 'vokswagen rabbit',
 'volkswagen 1131 deluxe sedan',
 'volkswagen 411 (sw)',
 'volkswagen dasher',
 'volkswagen jetta',
 'volkswagen model 111',
 'volkswagen rabbit',
 'volkswagen rabbit custom',
 'volkswagen rabbit custom diesel',
 'volkswagen rabbit l',
 'volkswagen scirocco',
 'volkswagen super beetle',
 'volkswagen type 3',
 'volvo 144ea',
 'volvo 145e (sw)',
 'volvo 244dl',
 'volvo 245',
 'volvo 264gl',
 'volvo diesel',
 'vw dasher (diesel)',
 'vw pickup',
 'vw rabbit',
 'vw rabbit c (diesel)',
 'vw rabbit custom']